*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f2f5; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  box-shadow: 0px 0px 20px rgba(0,119,242,0.5);
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 2px solid #1877f2;
  background: #f0f2f5; 
  color: #050505;
  font-size: 15px;
}

.login-form input:focus {
  border-color: #1877f2; 
  outline: none;
}

#sign-in {
  width: 100%;
  padding: 12px;
  background: #1877f2; 
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

#sign-in:hover {
  background: #0f5ac1; 
}

.login-form a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #1877f2; 
  font-size: 14px;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form #message{
  text-align: center;
}
